.header-container {
    margin-top: -1%;
    background-color: black;
    color: white;
    padding: 1px;
}

.header-title {
    font-size: 45px;
  }
  
  .subheader {
    font-size: 35px;
    margin-top: -20px;
  }