.header-container {
    margin-top: -7%;
    background-color: grey;
    color: white;
    padding: 1px;
    width: 100%;
    
}

.header-title {
    font-size: 45px;
  }
  
.subheader {
    font-size: 35px;
    margin-top: -20px;
  }