
.joke-card-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 50%;
    background: linear-gradient(45deg, rgba(7, 153, 238, 0.44), rgba(255, 140, 0, 0.44), rgba(255, 0, 128, 0.44));
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.4), 0 3px 10px rgba(0, 0, 0, 0.4);
    margin: 10px;
    padding: 25px;
    height: 300px;
    position: relative;
    width: 300px;
  }
  .joke-card {
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    color: white;
    margin-top: 33%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 2s ease-in-out;
    width: 100%;
  }
  .joke-card:hover {
    transform: rotateY(180deg);
  }
  .joke-card .side {
    backface-visibility: hidden;
    height: 100%;
    position: absolute;
    width: 100%;
  }
  .joke-card .side-back {
    backface-visibility: hidden;
    transform: rotateY(180deg);
  }
  
  .user {
    margin-top: 3%;
  }
  .user, .date {
    font-size: 15px;
  }